<!DOCTYPE html>
<html>
  <head>
    <title>PetEx</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      type="JavaScript"
    ></script>
    <link rel="stylesheet" href="/stylesheets/petex.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <svg
            width="24"
            height="24"
            style="margin-right: 3px"
            viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M844 472q0 60-19 113.5t-63 92.5-105 39q-76 0-138-57.5t-92-135.5-30-151q0-60 19-113.5t63-92.5 105-39q77 0 138.5 57.5t91.5 135 30 151.5zm-342 483q0 80-42 139t-119 59q-76 0-141.5-55.5t-100.5-133.5-35-152q0-80 42-139.5t119-59.5q76 0 141.5 55.5t100.5 134 35 152.5zm394-27q118 0 255 97.5t229 237 92 254.5q0 46-17 76.5t-48.5 45-64.5 20-76 5.5q-68 0-187.5-45t-182.5-45q-66 0-192.5 44.5t-200.5 44.5q-183 0-183-146 0-86 56-191.5t139.5-192.5 187.5-146 193-59zm239-211q-61 0-105-39t-63-92.5-19-113.5q0-74 30-151.5t91.5-135 138.5-57.5q61 0 105 39t63 92.5 19 113.5q0 73-30 151t-92 135.5-138 57.5zm432-104q77 0 119 59.5t42 139.5q0 74-35 152t-100.5 133.5-141.5 55.5q-77 0-119-59t-42-139q0-74 35-152.5t100.5-134 141.5-55.5z"
              fill="#fff"
            />
          </svg>
          <strong>PetEx</strong>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                ><i style="margin-top:3px; font-size: 20px;" class="fas fa-home"></i> <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="/pets?search=cat">Cats</a></li>
            <li class="nav-item"><a class="nav-link" href="/pets?search=dog">Dogs</a></li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <ul class="navbar-nav ml-auto">
            <%if(!currentUser){%>
            <li class="nav-item">
              <a class="nav-link" href="/users/signin">Sign In</a>
            </li>
            
            <li class="nav-item">
              <a
                class="nav-link btn btn-outline-success my-2 my-sm-0"
                href="/users/new"
                >Sign Up</a
              >
            </li>
            <%} else {%>
            <li class="nav-item">
              <a class="nav-link" href="#"
                >
                
                </a
              >
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" 
              data-toggle="dropdown" href="#" role="button" 
              aria-haspopup="true" aria-expanded="false">
              <%=currentUser.username%>
              <span class="badge badge-pill badge-success"><%= unreadMessages %></span>
            </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/messages">Messages
                  <span class="badge badge-pill badge-success"><%= unreadMessages %></span>                
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/signout">Sign Out</a>
            </li>
            <%}%>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
            

      