<section class="jumbotron text-center bg-light" style="height: 120px;">
  <div class="container">
    <form action="/pets" method="GET">
      <div class="form-row">
        <div class="form-group col-md-8">
          <input
            name="search"
            class="form-control form-control-lg"
            type="text"
            placeholder="Search by pet, breed, sex, keywords..."
          />
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary btn-lg">
            Search
          </button>
        </div>
        <div class="col-md-2">
          <a href="/pets">
            <button class="btn btn-lg btn-link">
              Reset
            </button></a>
        </div>
      </div>
    </form>
  </div>
</section>
