<% include ./partials/header %>
<% include ./partials/hero %>
<div class="album py-5 bg-light"><div class="container">   

<h1>Welcome to PetEx HQ!</h1>
<h3><i>Because every pet deserves a loving home</i></h3>
<% if(err) { %>
    <h1 style="color: red">
        There was an error retrieving the pets!
    </h1>
    <h4>
        <%= err.description %>
    </h4>
<% } else { %>
    <div class="row">
            
    <% if(pets.length > 0) { %>
        <% pets.forEach(function(pet) { %>
            <%- include('./partials/animalcard', {pet}) %>
         <% }) %>
       <% } else {
            console.log("Sorry, looks like there are no pets availible for adoption at the moment.")
        }
 } %>

    </div>



 <a href="/pets/new">Add a Pet</a>

 <% include ./partials/footer %>