<% include ./partials/header %>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Add a Pet</h1>
    <p class="lead">Use the form below to enter the information about your pet.</p>
  </div>
<div class="container">   

  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center"></h2>
      <div style="width: 30%; margin: 0 auto;">
        <form action="/pets" method="POST">
          <div class="form-group">
            <input
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
              placeholder="Pet Name"
              name="name"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              id="age"
              aria-describedby="emailHelp"
              placeholder="Pet Age"
              name="age"
            />
          </div>
          <div class="form-group">
              <input
                class="form-control"
                id="image"
                aria-describedby="emailHelp"
                placeholder="Image URL"
                name="image"
              />
            </div>
          <button type="Create" class="btn btn-primary btn-lg btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
    <a style="margin: 10px auto;" href="/pets">Go Back</a>
  </div>
</div>

<% include ./partials/footer %>